*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    transition: 1s;
}
.clear{
    clear: both;
}

#corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* border: 3px solid black; */
}

#cabecalho{
    width: 100%;
    padding: 6px;
    /* border: 2px solid red; */
}
.menu{
    display: flex;
    width: max-content;
    justify-content: center;
    float: right;
    margin-right: 15px;
    /* border: 1px solid black; */
}
.menu .opt1,.opt2{
     margin: 0 10px 0 0;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     /* border: 1px solid red; */
}
.opt1 a{
     text-decoration: none;
     color: black;
}
.opt2 a{
     text-decoration: none;
     color: black;
}


.menu .menu-opts, .btn-loggin{
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    text-align: center;
    /* border: 1px solid black; */
} 
.btn-loggin a{
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #4285F4;
    text-decoration: none;
}
.btn-loggin a:hover{
    background-color: #1B66C9;
}


#sessao{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}
.google-logo{
    margin-top: 10%;
    margin-bottom: 30px;
    width: max-content;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}

.area-pesquisa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 2px solid red; */
}

.area-input{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
    border-radius: 40px;
    width: 45%;
    border: 1px solid #c7c7c7;
    margin-bottom: 20px;
}
.area-input:hover{
    box-shadow: 1px 1px 10px #c9c9c9;
}
.area-input .icon-lupa{
    position: absolute;
    width: max-content;
    left: 20px;
    top: 17px;
}
.area-input .input{
    width: 70%;
    /* border: 1px solid red; */
}
.area-input .input > input{
    position: relative;
    left: -60px;
    height: 30px;
    width: 370px;
    border: none;
    outline: none;
    font-size: 1.2rem;
}
.area-input .icon-teclado{
    position: relative;
    width: max-content;
}
.area-input .icon-fone{
    position: relative;
    width: max-content;
    left: 20px;
}
.area-input .icon-camera{
    position: relative;
    width: max-content;
    left: 40px;
}

.area-sorte{
    display: flex;
    flex-direction: row;
    width: max-content;
    /* border: 1px solid red; */
    gap: 30px;
}
.btn-sorte{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    
}
.btn-sorte a{
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    
}
.btn-sorte a:hover{
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #c7c7c7;

}

#rodape{
    position: fixed;
    bottom: 0;
    margin-bottom: 5px;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 20px;
    transition: 1s;
    /* border: 2px solid black; */
}


@media screen and (max-width: 800px){
    .area-input{
        width: 80%;
        transition: 1s;
    }
    .area-input #pesquisa{
        /* border: 1px solid; */
        width: 100%;
        left: 0;
        transition: 1s;
    }
    .input{
        width: 50% !important;
        /* border: 1px solid; */
        transition: 1s;
    }
    .area-sorte{
        gap: 3px;
    }
    #rodape{
        padding: 0 30px;
        margin-bottom: 20px;
        transition: 1s;
    }
}